<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.debug.ui.VariableView">
         <command
               commandId="codehint.handler.demonstrateValue"
               label="Demonstrate value"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="codehint.handler.DemonstrateValueHandler"
            id="codehint.handler.demonstrateValue"
            name="Demonstrate value">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.debug.ui.VariableView">
         <command
               commandId="codehint.handler.demonstrateLambdaProperty"
               label="Demonstrate lambda property"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="codehint.handler.DemonstrateLambdaPropertyHandler"
            id="codehint.handler.demonstrateLambdaProperty"
            name="Demonstrate lambda property">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.debug.ui.VariableView">
         <command
               commandId="codehint.handler.demonstrateType"
               label="Demonstrate type"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="codehint.handler.DemonstrateTypeHandler"
            id="codehint.handler.demonstrateType"
            name="Demonstrate type">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.debug.ui.VariableView">
         <command
               commandId="codehint.handler.demonstrateStateProperty"
               label="Demonstrate state property"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="codehint.handler.DemonstrateStatePropertyHandler"
            id="codehint.handler.demonstrateStateProperty"
            name="Demonstrate state property">
      </command>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml"
            plugin="codehint">
      </contexts>
   </extension>

</plugin>
